body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: floralwhite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contact-title {
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
#topbar {
	width:100%;
	height:60px;
	background-color: floralwhite;
}
.fixwidth {
	width: 100%;
	margin: auto;
}	

#logoarea{
	float: left;
	
	margin-left: 15px;
}

#topmenu {
	font-family: arial, Helvetica,sans-serif
		font-size= 1.1em;
}
#topmenu li{
	float:left;
	color:gray;
	list-style:none;
	margin-left:85px;
	padding-top:40px;
	
	
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}